
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Container principal */
body {
  background: #111;
  color: #f5c518;
  display: flex;
  justify-content: center;
  align-items: center; /* centraliza verticalmente */
  min-height: 100vh;
  padding: 20px;
}

/* Container principal */
#container {
  width: 350px;
  min-height: 80vh;
  background: url("./assets/desenvolvedor-de-software-image-de-fundo.png")
    no-repeat center center;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(255, 254, 254, 0.5);
  padding: 20px;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
  justify-content: center; /* centraliza verticalmente */
  text-align: center; /* centraliza textos */
}

/* Overlay */
#container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(26, 26, 26, 0.85);
  border-radius: 12px;
  z-index: 0;
}

#container > * {
  position: relative;
  z-index: 1;
  width: 100%;
}

/* Perfil */
#profile {
  text-align: center;
  transition: 0.3s;
  margin-bottom: 35px;
}

#profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.4s ease;
  box-shadow: 0 0 10px #fff;
  margin-bottom: 20px;
}

#profile img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #fff, 0 0 50px #2199ef;
}

#profile p {
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
}

/* Menu de contato */
nav {
  margin-bottom: 35px;
  width: 100%;
}

nav .menu li {
  list-style: none;
  margin: 8px 0;
}

nav .menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  background: rgba(250, 250, 249, 0.08);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
}

nav .menu a:hover {
  background: #2199ef42;
  color: #1a1a1a;
  transform: translateY(-2px);
}

/* Redes sociais */
#social-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

#social-links a {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

#social-links a:hover {
  color: #2199ef42;
  animation: pulse 0.6s ease-in-out;
}

/* Animação pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Footer */
footer {
  text-align: center;
  margin-top: 15px;
  font-size: 0.85rem;
  color: #fff;
}

/* Responsividade */
@media (max-width: 400px) {
  #container {
    padding: 15px;
    width: 100%;
  }
}